{
  "printWidth": 90,
  "overrides": [
    {
      "files": "*.spec.js",
      "options": {
        "printWidth": 150
      }
    }
  ],
  "useTabs": false,
  "tabWidth": 4,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "jsxBracketSameLine": true,
  "arrowParens": "avoid"
}
